body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }

  #map {
    position:absolute;
    width: 100%;
    height: 100%;
  }

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .tooltip {
    position: fixed;
    width: 180px;
    background-color: rgb(21, 101, 192, 0.7);
    z-index: 2;
    color: #FFE300;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #7716bd;
  }

  .tooltip > p {
    text-align: center;
  }

  svg circle.focusCircle.focus {
    visibility: visible;
  }
  svg circle.focusCircle.unfocus {
    visibility: hidden;
  }

  .translateButtons {
    position: absolute;
    width: 300px;
    background: rgba(255,255,255,0.75);
    bottom: 10px;
    left: calc(50% - 150px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 150px;
    padding: 10px 0px;
    text-align: center;
    font-family: sans-serif;
    cursor: pointer;
  }
